#t-main .t-cityselwrap {
  position: relative;
  padding-bottom: 0;
}

#t-main .t-cityselwrap input {
  margin-right: 0;
  padding-right: 0;
  margin-bottom: 0;
  vertical-align: bottom;
}

.t-cities > div { content: ''; display: block; width: 100%; height: 40px; position: absolute; top: 0px; margin-top: -40px; cursor:pointer; }
.t-cities { position: absolute; top: 100%; width: 100%; z-index: 20; text-align:right; }
.t-cities ul { max-height:150px; overflow:auto; opacity:0; background: white; border: Solid 1px #DBDBDB; display: inline-block; text-align: left; min-width: 221px;}

.t-cities li:hover { background: #fafafa; }
.t-cities li { padding: 3px 20px; border-bottom: Solid 1px #E5E5E5; cursor: pointer; display: none; }

.t-cities.t-ddopen ul { opacity:1;}
.t-cities.t-ddopen li { display:block; }

li.t-invalidopt {background: #FFF2F2;color:#CCC;}
#t-main.t-main .content .t-cityselwrap .t-cityselwrap { width: 100%; }
.t-cities.t-loading > div { background: url(/misc/throbber-active.gif) 90% center no-repeat; }

#t-main#t-main .t-cities > div:after {
  content: '▾';
  display: block;
  position: absolute;
  right: -5px;
  bottom: 0;
  background: #fafafa;
  width: 18px;
  text-align: center;
  border: Solid 1px #DBDBDB;
  line-height: 18px;
  font-size:20px; 
}

.t-noaddress .uc-store-address-field:after {
display: block;
position: absolute;
z-index: 22;
left: 0;
top: 0;
bottom: 0;
right: 0;
content: '';
background: rgba(59, 158, 68, 0.14);
}
.t-noaddress .uc-store-address-field:before {
display: block;
content: 'Esta es la información de la dirección guardada. Para modificarla cambie a la opción "Seleccionar Uno..."';
background: rgb(59, 158, 68);
color: white;
padding: 2px 5px;
}

.t-noaddress .uc-store-address-field {
position: relative;
display: inline-block;
width:100%;
}
#quotes-pane {display:none !important; }
span.nombre-metodo-pago {font-weight:bold;}


.t-cities > * {
  margin-right: 15px;
  right: 0px;
}